@import "../variables.sass"

.Produccion
  h1
    color: $produccion
  .Phrases
    &-button
      &:hover
        background-color: $produccion
      &.--active
        background-color: $produccion
    &-content
      p:nth-child(2)
        color: $produccion
  .BtnPortafolio
    background-color: $produccion
    svg
      color: $produccion
  .Content-img-right
    width: 45%
