@import '../../variables.sass'

.HomeContent
  display: flex
  flex-wrap: wrap
  align-items: center
  width: 75%
  max-width: 1200px
  margin: 0 auto 40px auto
  &-title
    width: 50%
    padding-right: 30px
    box-sizing: border-box
    text-align: right
    h1
      font-size: 2.7rem
      font-family: 'nexaxbold'
      color: $color-primary
    p
      font-size: 1.5rem
  &-img
    width: 50%
    img
      width: 100%
  &-description
    width: 100%
    font-size: 1.36rem
    text-align: center
    p
      margin: 0