@import "../../variables.sass"
@import "/node_modules/react-modal-video/scss/modal-video.scss"

.HomeExperiences
  max-width: 1200px
  padding: 50px 0 100px 0
  margin: 0 auto
  background-image: url("https://la-leyenda.com/img/demo/experiences.png")
  background-repeat: no-repeat
  background-position: center top
  font-size: 1.5rem
  &-title
    text-align: center
  &-testimonials
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 30px 
    margin-top: 100px
    &-item
      width: 100%
      font-size: 1rem
      text-align: center
      svg
        color: purple
    &-video
      position: relative
      button
        border: none
        background: transparent
        cursor: pointer
        &:hover img
          transform: scale(1.05)
          transition-duration: 0.5s
        img
          width: 100%
          border-radius: 8px
          box-shadow: 5px 5px 5px #ddd
        span
          position: absolute
          display: flex
          justify-content: center
          align-items: center
          z-index: 1
          width: 36px
          height: 36px
          top: 50%
          left: 50%
          transform: translate(-18px, -18px)
          border-radius: 50%
          background-color: $color-primary
          svg
            color: $color-third
    &-content
      position: relative
      margin-top: 20px
      padding: 10px 15px 0 15px
  &-quote-left
    position: absolute
    top: 0
    left: 0
  &-quote-right
    position: absolute
    bottom: 10px
    right: 30px
