@import '../../variables.sass'

.Footer
  background-color: $color-primary
  background-image: url("https://la-leyenda.com/img/demo/back_footer.png")
  background-repeat: repeat-x
  color: $color-secondary-contrast
  position: relative
  &-wrapper
    max-width: $container-width
    width: 100%
    margin: 0 auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
  &-content
    width: 40%
    padding-right: 50px
    box-sizing: border-box
    h5
      font-size: 2rem
    ul
      margin: 0
      padding: 0
      li
        list-style-type: none
        margin-bottom: 10px
  &-icon
    display: inline-block
    width: 20px
    margin-right: 10px
    text-align: center
  &-form
    width: 60%
    text-align: right
  &-social
    width: 100%
