$container-width: 1200px
$color-primary: #007BC2
$color-secondary: #5D5D5D
$color-third: #e5e4e4
$color-primary-contrast: #64A5C9
$color-secondary-contrast: White
$produccion: #da592f
$transmision: #4ba6cd
$marketing: #8eb935
$web: #e68f00
$diseno: #49236c
$fotografia: #007c82
$eventos: #6c183a

$big_desktop: 1200px
$desktop: 992px
$tablet: 768px
$phone: 576px
$sm_phone: 430px
